*,
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #c9c9c9;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

p,
a {
  font-size: 18px;
}

a {
  font-weight: bold;
  cursor: pointer;
  color: #F19399;
  font-size: 20px;
}

b {
  color: #F19399;
}

.index-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  place-items: center;
  background: #000000;
  background: linear-gradient(46deg, rgba(0, 0, 0, 1) 57%, rgba(123, 16, 23, 1) 100%);
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background: #000000;
  background: linear-gradient(46deg, rgba(0, 0, 0, 1) 57%, rgba(123, 16, 23, 1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
  width: 30%;
  margin-bottom: 48px;
}

.dp {
  border-radius: 50%;
  border: 2px solid white;
  height: 180px;
  width: 180px;
}

.bg-blur {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}

.bg-container {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.header-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  z-index: 3;
}

.header-container>h1 {
  margin-top: 32px;
  font-size: 48px;
  color: white;
}

.intro-container {
  margin-top: 24px;
  margin-left: 74px;
}

.break {
  height: 2px;
  width: 100%;
  background-color: #B8B8B8;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards-container {
  width: 630px;
  margin-left: 74px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-between;
  width: 90%;
  margin-top: 32px;
}

.card {
  height: 100px;
  width: 250px;
  display: flex;
  place-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid #F19399;

  -webkit-box-shadow: 8px 7px 7px 0px rgba(241, 147, 153, 1);
  -moz-box-shadow: 8px 7px 7px 0px rgba(241, 147, 153, 1);
  box-shadow: 8px 7px 7px 0px rgba(241, 147, 153, 1);
}

.card-icons {
  height: 40px;
  width: 40px;
}

.card-label {
  color: #c9c9c9;
  font-size: 20px;
}

.cards-container>h2 {
  color: #c9c9c9;
}

@media (max-width: 600px) {
  main {
    width: 90%;
  }

  .dp {
    height: 120px;
    width: 120px;
  }

  .bg-container {
    height: 160px;
  }

  .header-container {
    margin-top: 18px;
    gap: 18px;
  }

  .header-container>h1 {
    margin-top: 24px;
    font-size: 32px;
    color: white;
  }

  .intro-container {
    width: 100%;
    margin: 0px;
  }

}
