*,
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #c9c9c9;
}

html {
  background-color: black;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  overflow-x: hidden;
}

button {
  height: 40px;
  padding: 8px;
  font-size: 18px;

  border-radius: 10px;
  border: 2px solid #F19399;
  background-color: black;

  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  gap: 12px;

  cursor: pointer;
}

p,
a {
  font-size: 18px;
}

a {
  font-weight: bold;
  cursor: pointer;
  color: #F19399;
  font-size: 20px;
}

b {
  color: #F19399;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  place-items: center;
  background: #000000;
  background: linear-gradient(46deg, rgba(0, 0, 0, 1) 76%, rgba(93, 12, 17, 1) 100%);
}

.container,
.container-sub {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
  width: 630px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.container-sub {
  place-items: start;
  height: fit-content;
  margin-bottom: 80px;
}

.dp {
  border-radius: 50%;
  border: 2px solid white;
  height: 180px;
  width: 180px;
}

.bg-blur {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}

.bg-container {
  height: 160px;
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

.header-container,
.header-container-sub {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  width: 80%;
}

.header-container-sub {
  margin-top: 50px;
  width: 630px;
  justify-content: start;
}

.header-container>h1,
.header-container-sub>h1 {
  margin-top: 52px;
  font-size: 48px;
  color: white;
}

.intro-container {
  margin-top: 24px;
}

.break {
  height: 2px;
  width: 100%;
  background-color: #B8B8B8;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards-container {
  width: 630px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-between;
  width: 90%;
  margin-top: 32px;
}

.card {
  height: 70px;
  width: 230px;
  padding-left: 24px;

  display: flex;
  justify-content: start;
  place-items: center;

  cursor: pointer;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid #F19399;

  -webkit-box-shadow: 8px 7px 7px 0px rgba(241, 147, 153, 1);
  -moz-box-shadow: 8px 7px 7px 0px rgba(241, 147, 153, 1);
  box-shadow: 8px 7px 7px 0px rgba(241, 147, 153, 1);
}

.card-icons {
  height: 40px;
  width: 40px;
}

.card-label {
  color: #c9c9c9;
  font-size: 20px;
}

.cards-container>h2 {
  color: #c9c9c9;
}

.card-img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book-links>h2 {
  font-size: 40px;
}

.schedule-img-container {
  width: 100%;
  overflow: scroll;
}

.schedule-img-actions-container {
  margin-bottom: 12px;
}

.ext-open {
  height: 24px;
  width: 24px;
}

.ext-open-label {
  color: #F19399;
}

.ex-classes {
  padding: 4px;
  background: white;
}

@media (max-width: 830px) {
  .dp {
    height: 120px;
    width: 120px;
  }

  .header-container>h1 {
    margin-top: 32px;
    font-size: 46px;
  }

  .container {
    margin-top: 24px;
    width: 530px;
  }

  .cards-container {
    width: 530px;
  }

  .cards {
    gap: 16px;
    width: 100%;
  }

  .card {
    gap: 16px;
  }

}

@media (max-width: 600px) {

  .container {
    width: 80%;
  }

  .dp {
    height: 80px;
    width: 80px;
  }

  .bg-container {
    height: 120px;
  }

  .header-container {
    margin-top: 18px;
    gap: 18px;
  }

  .header-container>h1 {
    margin-top: 10px;
    font-size: 30px;
  }

  .intro-container {
    width: 100%;
    margin: 14px 0 0 0;
  }

  .cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    margin: 0;
  }

  .cards {
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }

}
